@font-face {
        font-family: "UniNeue";
        src: url("fonts/UniNeueRegular.woff2") format("woff2"),
        url("fonts/UniNeueRegular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: "UniNeue-Bold";
        src: url("fonts/UniNeueBold.woff2") format("woff2"),
        url("fonts/UniNeueBold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: "UniNeue-Book";
        src: url("fonts/UniNeueBook.woff2") format("woff2"),
        url("fonts/UniNeueBook.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: "UniNeue-Heavy";
        src: url("fonts/UniNeueHeavy.woff2") format("woff2"),
        url("fonts/UniNeueHeavy.woff") format("woff");
        font-weight: 800;
        font-style: normal;
        font-display: swap;
}